{% extends 'base.html' %}

{% block content %}

<div class="container">
  <h3>Tornei presenti: </h3>
  <a href="/calcetto"><button class="btn btn-primary">Calcetto</button></a>
  <a href="/pallavolo"><button class="btn btn-primary">Pallavolo</button></a>
  <br><br>
  {% if is_staff %}
      <table class="table table-striped">
        <thead>
          <th>Calcetto</th>
          <th>Pallavolo</th>
        </thead>
        <tbody>
          <tr>
            <td><a href="/calcetto/nuovasquadra"><button class="btn btn-primary">Aggiungi squadra</button></a></td>
            <td><a href=""><button class="btn btn-primary">Aggiungi squadra</button></a></td>
          </tr>
          <tr>
            <td><a href="/calcetto/nuovapartita"><button class="btn btn-primary">Aggiungi partita</button></a></td>
            <td><a href=""><button class="btn btn-primary">Aggiungi partita</button></a></td>
          </tr>
        </tbody>
      </table>
  {% endif %}
  </div>

{% endblock %}
