{% extends 'base.html' %}

{% block content %}

<br><a href="/calcetto/classifica">Classifica Giocatori<button class="btn btn-info"></button></a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Data</th>
      <th>Classi</th>
      <th>Stato</th>
      <th>#</th>
    </tr>
  </thead>
{% for partita in object_list %}
    <tr>
      <td>{{ partita.data|date }}</td>
      <td> {{ partita.squadra_1.classe }} vs {{ partita.squadra_2.classe }}</td>
      <td> {% if partita.finita %}conclusa: <span>{{ partita.result }}</span>{% else %}da giocare{% endif %}</td>
      <td><a href="/calcetto/dettagli/{{partita.id}}"><button class="btn btn-info">Dettagli</button></a>
      {% if partita.finita == False %}{% if is_staff %}<a href="calcetto/arbitra/{{partita.id}}"><button class="btn btn-primary">Arbitreggia</button></a></td>{% endif %}{% endif %}
    </tr>
{% empty %}
    <li>Non è ancora presente nessuna partita</li>
{% endfor %}
</table>
{% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="/articoli?page={{ page_obj.previous_page_number }}">Indietro</a>
            {% endif %}
            <span class="page-current">
                Pagina {{ page_obj.number }} di {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="/articoli?page={{ page_obj.next_page_number }}">Avanti</a>
            {% endif %}
        </span>
    </div>
{% endif %}


{% endblock %}
