{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Squadre</h3>
      </div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Classe</th>
      <th>#</th>
    </tr>
  </thead>
{% for squadra in object_list %}
    <tr>
      <td>{{ squadra.classe }}</td>
      <td><a href="/calcetto/squadra/{{squadra.id}}"><button class="btn btn-info">Dettagli</button></a></td>
    </tr>
{% empty %}
    <li>Non è ancora presente nessuna squadra</li>
{% endfor %}
</table>
</div>
{% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="/calcetto/squadre?page={{ page_obj.previous_page_number }}">Indietro</a>
            {% endif %}
            <span class="page-current">
                Pagina {{ page_obj.number }} di {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="/calcetto/squadre?page={{ page_obj.next_page_number }}">Avanti</a>
            {% endif %}
        </span>
    </div>
{% endif %}

</div>
{% endblock %}
