{% extends 'base.html' %}

{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Goal</th>
      <th>#</th>
    </tr>
  </thead>
{% for studente in object_list %}
    <tr>
      <td>{{ studente.nome }}</td>
      <td>{{ studente.goals }}</td>
      <td><a href="/calcetto/studente/{{studente.id}}"><button class="btn btn-secondary">Dettagli</button></a></td>
    </tr>
{% empty %}
    <li>Non è ancora presente nessuna partita</li>
{% endfor %}
</table>
{% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="/articoli?page={{ page_obj.previous_page_number }}">Indietro</a>
            {% endif %}
            <span class="page-current">
                Pagina {{ page_obj.number }} di {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="/articoli?page={{ page_obj.next_page_number }}">Avanti</a>
            {% endif %}
        </span>
    </div>
{% endif %}


{% endblock %}
